<section>
  <button class="sound" (click)="sound.soundBack('../assets/sounds/theme.mp3')">{{sound.buttonStatus}}<div class="mask"></div></button>
  <button  class="level" routerLink="">quit<div class="mask"></div></button>
  <h1 class="chooselevel">
    choose level
  </h1>
  <div class="center-wrap">
    <button class="one" routerLink="/game/0/-1">tatooine<div class="mask"></div></button>
    <button class="two" routerLink="/game/1/-1">hoth<div class="mask"></div></button>
  </div>
</section>

