// Here goes the main css that counts for everything
app-root
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 90vh
  canvas
    border: solid 1px black
